<div class="header-container"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="header-bar">
        <th:block sec:authorize="isAuthenticated()">
            <form method="POST" th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <form method="GET" th:action="@{/orders}">
                <input type="submit" value="History"/>
            </form>
        </th:block>

        <th:block sec:authorize="!isAuthenticated()">
            <form method="GET" th:action="@{/login}">
                <input type="submit" value="Login"/>
            </form>
        </th:block>
    </div>
</div>